{% extends "base/base.html" %}
{% block title %}Join{% endblock %}
{% block content %}
    <div class="container">
        <h1>About Us</h1>
        <h2>Introduction</h2>
            <p>Welcome!</p>

            <p>
            This website is dedicated to the Institute of Electrical and
            Electronics (IEEE) chapter at the University of Maryland,
            College Park. A student-led organization, IEEE caters to th
            needs of both undergraduate and graduate Electrical and
            Computer Engineering students within the Clark School of
            Engineering. This includes providing professional, social,
            and academic resources to our members, as well as a
            connection to the international IEEE community.
            </p>

            <p>
            If you have any questions, information to share, or
            suggestions, please do not hesitate to contact us at:
            </p>

            <p><b>ieee.umd@gmail.com</b></p>
        
        <hr />
        
        <h2>Academics</h2>
            <p>
            One of the most-valued academic resources that IEEE@UMD has
            to offer is our testbank. Our testbank offers a large number
            of old exams for every ENEE class and professor that has
            taught at UMD. Aside from this, we also have student lounge
            located in Glen L. Martin, Room 0104. The lounge provides
            students with a relaxing and academically-thriving student
            environment to either take a break and or study during any
            time of the day. If you wish to have access to our lounge,
            please send us an email.
            </p>
        
        <hr />
        
        <h2>Social and Professional Opportunities</h2>
            <p>Some examples of events that we hold throughout the
            school semester include:</p>
            
            <ul>
                <li>Engineering company information sessions</li>
                <li>S’mores Night</li>
                <li>Tutoring Sessions</li>
                <li>Professional Happy Hour</li>
                <li>Field Day</li>
                <li>Fundraising Nights</li>
                <li>IEEE Region 2 Student Activities Conference</li>
                <li>Colors of ECE</li>
                <li>Maryland Day</li>
            </ul>
        
        <hr />
        
            <p>
            Check out the rest of our website for other resources, such
            our events calendar, sponsorship package, and contact
            information. Don’t forget to subscribe to our listserv for
            our e-mails!
            </p>
            
            <p>--Kelly Fernandez, IEEE@UMD President 2015-2016</p>
    </div>
{% endblock %}
