{% extends "base/base.html" %}
{% block title %}Join{% endblock %}
{% block head %}
    {{ super() }}
    <link href="https://cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="//umd.us12.list-manage.com/subscribe/post?u=74546e91ff3d6449814365bc2&amp;id=626d802b71" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <h2>Subscribe to our mailing list</h2>
                            <div class="indicates-required">
                                <span class="asterisk">*</span> indicates required
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label> <input class="required email" id="mce-EMAIL" name="EMAIL" type="email" value="">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-FNAME">First Name <span class="asterisk">*</span></label> <input class="required" id="mce-FNAME" name="FNAME" type="text" value="">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-LNAME">Last Name <span class="asterisk">*</span></label> <input class="required" id="mce-LNAME" name="LNAME" type="text" value="">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-PHONENUM">Phone Number <span class="asterisk">*</span></label> <input class="required" id="mce-PHONENUM" name="PHONENUM" type="text" value="">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-GRADMONTH">Graduation Month <span class="asterisk">*</span></label> <select class="required" id="mce-GRADMONTH" name="GRADMONTH">
                                    <option value="">
                                    </option>
                                    <option value="Fall">
                                        Fall
                                    </option>
                                    <option value="Winter">
                                        Winter
                                    </option>
                                    <option value="Spring">
                                        Spring
                                    </option>
                                    <option value="Summer">
                                        Summer
                                    </option>
                                </select>
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-GRADYEAR">Graduation Year <span class="asterisk">*</span></label> <input class="required" id="mce-GRADYEAR" name="GRADYEAR" type="number" value="">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-STUDENTUID">UID</label> <input class="" id="mce-STUDENTUID" name="STUDENTUID" type="number" value="">
                            </div>
                            <div class="mc-field-group input-group">
                                <strong>I am a... <span class="asterisk">*</span></strong>
                                <ul>
                                    <li><input id="mce-TYPSTUDENT-0" name="TYPSTUDENT" type="radio" value="Undergraduate Student"><label for="mce-TYPSTUDENT-0">Undergraduate Student</label></li>
                                    <li><input id="mce-TYPSTUDENT-1" name="TYPSTUDENT" type="radio" value="Graduate Student"><label for="mce-TYPSTUDENT-1">Graduate Student</label></li>
                                    <li><input id="mce-TYPSTUDENT-2" name="TYPSTUDENT" type="radio" value="Faculty/Staff"><label for="mce-TYPSTUDENT-2">Faculty/Staff</label></li>
                                    <li><input id="mce-TYPSTUDENT-3" name="TYPSTUDENT" type="radio" value="Alumni"><label for="mce-TYPSTUDENT-3">Alumni</label></li>
                                    <li><input id="mce-TYPSTUDENT-4" name="TYPSTUDENT" type="radio" value="Other"><label for="mce-TYPSTUDENT-4">Other</label></li>
                                </ul>
                            </div>
                            <div class="clear" id="mce-responses">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                <input name="b_74546e91ff3d6449814365bc2_626d802b71" tabindex="-1" type="text" value="">
                            </div>
                            <div class="clear">
                                <input class="button" id="mc-embedded-subscribe" class="btn btn-primary" name="subscribe" type="submit" value="Subscribe">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock content %}
{% block scripts %}
    {{ super() }}
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js' type='text/javascript'>
    </script>
    <script type='text/javascript'>
    (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='PHONENUM';ftypes[3]='phone';fnames[4]='GRADMONTH';ftypes[4]='dropdown';fnames[5]='GRADYEAR';ftypes[5]='number';fnames[7]='STUDENTUID';ftypes[7]='number';fnames[6]='TYPSTUDENT';ftypes[6]='radio';fnames[8]='MMERGE8';ftypes[8]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
    </script> <!--End mc_embed_signup-->
{% endblock %}
